* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
  }
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3D405B;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    
}


.logo a, .links a {
    color: white;
    
}
.links {
    display: flex;
    gap: 2.3rem;
}
.logo a:hover, .links a:hover {
    color: #191414;
}

#home{
    background-color:#e3edf7;
    height: 90vh;
   
    
}
.h{
    width:100%;
    overflow:auto;
    
    
}
.i{
   align-items: center;
   height:100rem;
    
}

.i img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
 
  object-fit: cover;
    
}
ul{
    display: flex;
    justify-content:center;
    
}
.fa {  

    padding: .5rem;  
    text-align: center;  
    margin: .3rem .4rem;  
    font-size: 1.5rem;  
    width: 2rem;  
    border-radius: 1rem;
  }
  .fa:hover {  
    opacity: 0.9;  
}  
.fa-linkedin {  
  
    color: #007bb5;  
  }  
  .fa-instagram {  

    color: #bc2a8d;  
  } 
  .fa-github{
    color: black;
    
  }
.fa-google{
    color:black;
   
}
#about{
    background-color: #e3edf7;
    margin-top: -3rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border-top: 10px solid #cde4fb;
}
.accordion{
  margin:3.75rem auto;
  width:37.5rem;
  display: flex;
  flex-direction: column;
}
.accordion li{
  list-style-type: none;
  
  
  width: 90%;
  margin:1.3rem 1.3rem 1.3rem 0.5rem;
  padding:0.9rem;
  border-radius: 0.5rem;
  background-color: #e3edf7;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(255,255,255,0.7);

}
.accordion li label{
  
  align-items: center;
  padding:10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
label::before{
  content:'+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}
input[type="radio"]
{
  display: none;
}
.accordion .content{
  color:#555;
  padding:0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s,padding 0.5s;
}

.accordion input[type="radio"]:checked +label+.content{
    max-height: 400px;
    padding: 10px 10px 20px ;
}
.accordion input[type="radio"]:checked +label::before{
  content:'-';
}

#skills{
  border-top: 10px solid #cde4fb;
  background-color: #cde4fb;
  height: 100vh;
}
.container{
  display: flex;
  flex-wrap: wrap;
  margin:4rem 0 0 10rem;
  padding: auto;
  align-items: center;
}

.container img{
  flex-basis:25%;
  max-width: 15%;
  height: 200px;
  aspect-ratio: 3/2;
  object-fit: contain;


}
























@media screen and (max-width: 36rem) {
  
    .nav a {
      
     float:left;
     font-size: small;
     margin-right: -10px;
    }
    .name{
      display:none;
      overflow:hidden;
    }
    #about{
      float:left;
      font-size: small;
      width:100%;
    }
    .accordion li{
      float: left;
      margin-left: -2.5rem;
      width:70%
      
    }
    .img-holder {
      box-sizing: border-box;
      width: 25%;
      padding: 2%;
    }
  }