* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
  }
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3D405B;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

.logo a, .links a {
    color: white;
    
}
.links {
    display: flex;
    gap: 2.3rem;
}
.logo a:hover, .links a:hover {
    color: #191414;
}

#home{
    background-color:white;
    height: 100vh;
    border: 1px solid black;
    
}
#about{
    background-color: white;
    height: 100vh;
}
.h{
    width:100%;
    overflow:auto;
    
    
}
.i{
   align-items: center;
   height:100rem;
    
}

.i img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
 
  object-fit: cover;
    
}
ul{
    display: flex;
    justify-content:center;
    
}
.fa {  

    padding: .5rem;  
    text-align: center;  
    margin: .3rem .4rem;  
    font-size: 1.5rem;  
    width: 2rem;  
    border-radius: 1rem;
  }
  .fa:hover {  
    opacity: 0.9;  
}  
.fa-linkedin {  
  
    color: #007bb5;  
  }  
  .fa-instagram {  

    color: #bc2a8d;  
  } 
  .fa-github{
    color: black;
    
  }
.fa-google{
    color:black;
   
}


@media screen and (max-width: 48rem) {
    .nav a {
      
     float:left;
     font-size: small;
    }
  }