<!DOCTYPE html>
<html>
    <head>
        <link rel="icon"sizes="16x16" type="image/png" href="assets/f.png">
        <title>Portfolio</title>
    
    </head>
    <body>
      <div class="nav">
        <div class="logo">
            <a href="#home">Santhan Krishna</a>
        </div>
        <div class="links">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
        
    <div id="home">
      <div class="h">
        <div class="i">
          <img src="\assets\img.jp"style="height:240px;width:240px; border-radius: 50%; border: 2px solid black;position:absolute;top:0;bottom:0;left:0;right:0;">



        </div>
        


   </div>



    </div>
    <div id="about">
      <div class="ab">
        <p>jguhfhjbkjgiufiuf</p>


      </div>




    </div>







    </body>
</html>