<!DOCTYPE html>
<html>
    <head>
        <link rel="icon"sizes="16x16" type="image/png" href="assets/f.png">
        <title>Portfolio</title>
    
    </head>
    <body>
      <div class="nav">
        <div class="logo">
            <a class="name" href="#home">Santhan Krishna</a>
        </div>
        <div class="links">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
        
    <div id="home">
      <div class="h">
        <div class="i">
          <img src="\assets\img.jpg"style="height:200px;width:200px; border-radius: 50%; border: 3px solid black;position:absolute;top:0;bottom:0;left:0;right:0;">
        <h2 style="font-family: monospace; font-size: 2.3rem;text-align: center; color:#3D405B;margin-top: 25rem;">Santhan Krishna</h2>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <ul style="list-style-type: none; margin-left: -2rem;">
          <li><a href="https://www.linkedin.com/in/santhan-krishna-13460a219/" class="fa fa-linkedin" target="_blank"></a>  </li>
          <li><a href="https://github.com/santhankrishna8"class="fa fa-github" aria-hidden="true" target="_blank"></a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=santhankrishna18@gmail.com"class="fa fa-envelope" aria-hidden="true" target="_blank"></a></li>
          <li> <a href="#" class="fa fa-instagram" target="_blank"></a>  </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="about">
    <div class="ab">
      <h2 style="font-family: monospace;font-size: 2.5rem;text-align: center;margin-top: 3rem;">About Me</h2>
      <h3 style="font-family: monospace;font-size: 2rem;text-align: center;">Education Details</h3>
      <ul class="accordion">
        <li>
          <input type="radio" name="accordion" id="first" checked>
          <label for="first">Bachelor of Technology (B.Tech.)</label>
          <div class="content">
              <pre>SASTRA University,Thanjavur
Electronics & Communication Engineering,
CGPA-7.4581
2019-2023</pre>
            </div>
          </li>
          <li>
            <input type="radio" name="accordion" id="second">
            <label for="second">12<sup>th</sup> Class(Intermediate)</label>
            <div class="content">
              <pre>Narayana Junior College,Hyderabad
MPC,
Percentage-97.3
2019</pre>
            </div>
          </li>
          <li>
            <input type="radio" name="accordion" id="third">
            <label for="third">10<sup>th </sup> Class(SSC)</label>
            <div class="content">
              <pre>Academic Heights School,Tirupati,
CGPA-9.8
2017</pre>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="skills">
      <br>
      <br>
      <h2 style="font-family: monospace;font-size: 2rem;text-align: center;">Technical Skills</h2>
      
        <div class="skill-box">
          <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon" src="\assets\c.png" >
          </div>
          <h3>C</h3>
        </div>
       
          <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon"src="\assets\c++.png" >
          </div>
          <h3>C++</h3>
        </div>
        <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon"src="\assets\python.png" >
          </div>
          <h3>Python</h3>
        </div>
         <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon"src="\assets\java.png" >
          </div>
          <h3>Java</h3>
        </div>
        <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon"src="\assets\javascript.png" >
          </div>
          <h3>JavaScript</h3>
        </div>
        <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon"src="\assets\html5.png" >
          </div>
          <h3>HTML</h3>
        </div>
          <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon"src="\assets\css3.png" >
          </div>
          <h3>CSS</h3>
        </div>
          <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon"src="\assets\MySQL.png" >
          </div>
          <h3>MySQL</h3>
        </div>
          <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon"src="\assets\mongodb.png" >
          </div>
          <h3>MongoDB</h3>
        </div>
          <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon"src="\assets\typescript.png" >
          </div>
          <h3>TypeScript</h3>
        </div>
          <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon" src="\assets\angular.png" >
          </div>
          <h3>Angular</h3>
        </div>
          <div class="skill-title">
          <div class="skill-img">
            <img class="skill-icon"src="\assets\git.png" >
          </div>
          <h3>GIT</h3>
        </div>
      </div>
    </div>

    
    
  <div id="contact">
    <div class="contact-container">
      <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
        <div class="contact-left-title">
          <a>Contact me</a>
          <hr>
        </div>
        <input type="hidden" name="access_key" value="2ddf0a68-f8c8-483f-911b-2088a0f3790a">

        <input onfocus="this.value=''" type="text" name="name" placeholder="Name" class="contact-inputs" required >
        <input onfocus="this.value=''" type="email" name="email" placeholder="Email" class="contact-inputs" required>
        <textarea onfocus="this.value=''" name="message" placeholder="your message" class="contact-inputs" required></textarea>
        <button type="submit">Submit</button>
      </form>
      <div class="contact-right">
        <a ><i class="fa fa-envelope"></i>santhankrishna18&#x40;gmail.com</a>
        <a><i class="fa fa-phone"></i>6304349076</a>
      
      </div>
    </div>
  </div>
  
  
  <footer>
    <hr>

  </footer>





    </body>
</html>