* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
  }
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

.nav .logo .name:hover{
  color: #9d0cf1;

}
.logo a, .links a {
    color: white;
    
}
.links {
    display: flex;
    gap: 2.3rem;
}
 .links a:hover ,.links a:active,.links a:focus{
    color: #145596;
    
}

#home{
    background-color:#fff;
    height: 90vh;
   
    
}
.h{
    width:100%;
    overflow:auto;
    
    
}
.i{
   align-items: center;
   height:100rem;
    
}

.i img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
 
  object-fit: cover;

    
}
.i img:hover{
  transform: scale(1.2);
  transition:transform 2s ease-in-out;
}
ul{
    display: flex;
    justify-content:center;
    
}
.fa {  

    padding: .5rem;  
    text-align: center;  
    margin: .3rem .4rem;  
    font-size: 1.5rem;  
    width: 2rem;  
    border-radius: 1rem;
  }
  .fa:hover {  
    opacity: 0.9;  
}  
.fa-linkedin {  
  
    color: #007bb5;  
  }  
  .fa-instagram {  

    color: #bc2a8d;  
  } 
  .fa-github{
    color: black;
    
  }
.fa-google{
    color:black;
   
}
#about{
    background-color: #fff;
    margin-top: -3rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  
}
.accordion{
  margin:3.75rem auto;
  width:37.5rem;
  display: flex;
  flex-direction: column;
}
.accordion li{
  list-style-type: none;
  
  
  width: 90%;
  margin:1.3rem 1.3rem 1.3rem 0.5rem;
  padding:0.9rem;
  border-radius: 0.5rem;
  background-color: #e3edf7;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(255,255,255,0.7);

}
.accordion li label{
  
  align-items: center;
  padding:10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
label::before{
  content:'+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}
input[type="radio"]
{
  display: none;
}
.accordion .content{
  color:#555;
  padding:0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s,padding 0.5s;
}

.accordion input[type="radio"]:checked +label+.content{
    max-height: 400px;
    padding: 10px 10px 20px ;
}
.accordion input[type="radio"]:checked +label::before{
  content:'-';
}

.skills{
  margin-top: -4rem;;
  background-color: #fff;
  height: 100vh;
}


.skill-box{
  padding:1rem;
  color:#ddd;
  cursor:pointer;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.skill-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  
}
.skill-box img{
  width:90px;
  height:90px ;
  position: relative;

  background-color: #fff;
  display: flex;
  justify-content:center;
  align-items: center;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: multiply;

}
.skill-title h3{
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  margin: 0.5rem;


}

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

#contact{
 
 
  
}
.contact-container{
  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:20px;
}
.contact-left-title a{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
  font-size: 40px;
  margin-bottom: 5px;


}

.contact-left-title hr{
  border: none;
  width:120px;
  height:5px;
  background-color: #534f4f;
  border-radius: 10px;
  margin-bottom: 20px;

}

.contact-inputs{
  width: 400px;
  height:50px;
  border:none;
  outline:none;
  padding-left: 25px;
  font-weight: 500;
  color:#666;
  border-radius: 50px;

}


.contact-left textarea{
  height:140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs{
  border:2px solid black;
}

.contact-inputs::placeholder{
  color:grey;
}

.contact-left button{
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color:#fff;
  gap:10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg,grey,rgb(120, 99, 99));
  cursor: pointer;
}








@media screen and (max-width: 36rem) {
  
    .nav a {
      
     float:left;
     font-size: small;
     margin-right: -10px;
    }
    .name{
      display:none;
      overflow:hidden;
    }
    #about{
      float:left;
      font-size: small;
      width:100%;
    }
    .accordion li{
      float: left;
      margin-left: -2.5rem;
      width:70%
      
    }
    .skill-box{
      grid-template-columns: repeat(3,1fr);
    }
    .contact-inputs{
      width:80vw;
    }
    .contact-right{
      display: none;
    }
  }